{% extends "localguides/layout.html" %} 
{% block body %}
<style>
.typed-text{
  display: inline-block;
  font-family: 'Courier New';
  font-size: 20px;
}

</style>

<h1 style="color: rgb(253, 167, 6)">Welcome to Local Guide Portal</h1>

<div class="typed-text">
  <div class="typed">
    <p>
      At Local Guides, we are passionate about exploring and discovering the
      hidden gems in our communities. Whether you're a long-time resident or a
      visitor, our platform is designed to help you navigate and appreciate the
      local attractions, eateries, and cultural landmarks that make each place
      unique.
    </p>
    <p>
      Our dedicated community of contributors, known as Local Guides, play
      a crucial role in sharing their insights and recommendations. From the best
      coffee shops to scenic parks, our guides provide firsthand information to
      make your experiences memorable and enjoyable.
    </p>
    <p>
      Explore the diverse neighborhoods, historical sites, and vibrant events
      through the eyes of our Local Guides. Join us on a journey to uncover the
      essence of each locale, support local businesses, and connect with fellow
      enthusiasts who share a love for exploration.
    </p>
    <p>
      Whether you're looking for travel tips, restaurant reviews, or hidden
      gems off the beaten path, Local Guides is your go-to resource for
      authentic and curated recommendations. Start your adventure today and
      become a part of our growing community of explorers!
    </p>
  </div>
</div>

{% endblock %}
