{% extends "localguides/layout.html" %}

{% block body %}
<div>
    <header>
        <h1>Privacy Policy</h1>
    </header>
    
    <main>
        <section>
            <h2>User Registration and Data Protection</h2>
            <p>
                At Local Guides, we take your privacy seriously from the moment you register. Your personal information, including your name and email address, is encrypted and stored securely to ensure that your data remains confidential.
            </p>
        </section>
    
        <section>
            <h2>Transparency and Consent</h2>
            <p>
                We believe in transparency. Before collecting any additional information, such as location, language preference, or gender, we will explicitly seek your consent. Your data will only be used to enhance your experience on our platform.
            </p>
        </section>
    
        <section>
            <h2>Data Access and Control</h2>
            <p>
                We put you in control of your data. You can access, review, edit, or delete your information whenever you choose. Our user-friendly settings allow you to customize your privacy preferences effortlessly.
            </p>
        </section>
    
        <section>
            <h2>Protection of Location Data</h2>
            <p>
                Local guides play a pivotal role, and we respect the importance of location data. Your location information will only be used to connect you with tourists seeking your expertise. Rest assured, we will never share your location without your explicit permission.
            </p>
        </section>
    
        <section>
            <h2>Secure Payment Processing</h2>
            <p>
                When it comes to payments, we prioritize your financial security. We partner with trusted payment processors and employ state-of-the-art encryption to ensure that your financial information is protected.
            </p>
        </section>
    
        <section>
            <h2>Regular Security Audits</h2>
            <p>
                We are committed to your safety online. Our team conducts regular security audits to identify and address any potential threats to your data. We stay vigilant and keep our platform updated with the latest security practices.
            </p>
        </section>
    
        <section>
            <h2>Data Retention Policy</h2>
            <p>
                Your data's lifecycle matters to us. We follow a strict data retention policy, ensuring that your information is stored only for as long as it's needed for our services. Once data is no longer necessary, it is promptly deleted.
            </p>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2023 Local Guides</p>
    </footer>
</div>



{% endblock %}