{% extends "tourist/layout.html" %}
{% block body %}

<style>
    .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: linear-gradient(to bottom, rgba(240, 240, 240, 0.8), rgba(224, 224, 224, 0.8));
    }
    h2 {
    font-size: xx-large;
    font-weight:normal; /* Make the font bold */
    font-family: sans-serif;
    color:#000000; /* Make text color transparent to show the gradient */
}
</style>

<div class="container mt-5 text-center">
    <h2>Tourist Sign Up</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'signUp' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="first_name" placeholder="First Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="last_name" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <p style="margin-top: 10px;">Already have an account? <a href="{% url 'signIn' %}">Sign In here.</a></p>
</div>

{% endblock %}
